<nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: transparent; color: coral">
    <div class="navbar-brand">
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink='/' routerLinkActive='active'>
          Home
        </a>
  
        <a class="navbar-item" routerLink="./about" routerLinkActive='active'>
          About
        </a>
  
        <a class="navbar-item" routerLink="./experience" routerLinkActive='active'>
            Work Experience
        </a>

        <a class="navbar-item" routerLink='./contacts' routerLinkActive='active'>
            Contacts
        </a>
      </div>
    </div>
  </nav>