<app-divider>
    Modal Component
</app-divider>
<button (click)='onClick()'>Show Modal</button>
<app-modal (close)='onClick()' *ngIf='modalOpen'>
    <ng-container modalHeader>Reusable Header!!</ng-container>
    <p>
        Some content for the modal window should go right here!
    </p>
    <ng-container modalFooter>
        <button (click)='onClick()' class='ui button'>CLOSE ME!</button>
    </ng-container>
</app-modal>

<app-divider>
    Accordion Component
</app-divider>
<app-accordion [items]='items'></app-accordion>