.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 70vw;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}